@{
	ViewData["Title"] = "forgotpassword";
}

<link rel="stylesheet" href="~/css/pages/logreg.css" media="all" />

<div class="background"></div>
<div class="content">
	<div class="content-image">
		<h1>Remember your password</h1>
		<h1>And learn more...</h1>
		<img src="assets/images/logreg/Component 6 .png"
			 alt="error loading image"
			 style="width: 100%;" />
	</div>
	<div class="content-form">
		<h1>Forgot password?</h1>
		<h6>
			It happens to the best of us
		</h6>
		<p>
			We will send you an email where you are able to reset your
			password
		</p>
		<form action="">
			<div class="form-row">
				<input type="email" placeholder="Email" />
			</div>
			<div class="form-row">
				<input type="email" placeholder="Confirm email" />
			</div>
			<button>Send email</button>
		</form>
		<a href="">Forgot password</a>
		<a href="register.html">Register new user</a>
	</div>