@{
	ViewData["Title"] = "login";
}
@model Certificate_Wiki.Models.LoginRegister.LoginModel
<link rel="stylesheet" href="~/css/pages/logreg.css" media="all" />

<div class="background"></div>
<div class="content">
	<div class="content-image">
		<h1>Login and</h1>
		<h1>Learn more...</h1>
		<img src="~/images/logreg/Component 6 .png"
			 alt="error loading image"
			 style="width: 100%;" />
	</div>
	<div class="content-form">
		<h1>Log in</h1>
		<h6>
			Login with your email
		</h6>
		<p>
			Upload you certificates and create a profile! Share your work with
			employers, friends and family!
		</p>
		<div asp-validation-summary="All"></div>
		<form asp-action="Login" method="post">
			<div class="form-row">
				<input class="text-input" asp-for="UserName" type="text" placeholder="username" />
			</div>
			<div class="form-row">
				<input class="text-input" asp-for="Password" type="password" placeholder="password" />
			</div>
			<button>Log in</button>
		</form>
		<a asp-action="forgotpassword">Forgot password</a>
		<a asp-action="register">Register new user</a>
	</div>

	<script src="~/js/FormInputs.js"></script>