@{
	ViewData["Title"] = "register";
}
@model Certificate_Wiki.Models.LoginRegister.RegisterModel
<link rel="stylesheet" href="~/css/pages/logreg.css" media="all" />
<div class="background"></div>
<div class="content">
	<div class="content-image">
		<h1>Register Now,</h1>
		<h1>Achieve more...</h1>
		<img src="~/images/logreg/Component 7.png"
			 alt="error loading image"
			 style="width: 100%;" />
	</div>
	<div class="content-form">
		<h1>Register</h1>
		<h6>
			Register with an email to upload certificates for free, forever!
		</h6>
		<p>
			You will be emailed a link to verify your account. We will
			<span>never</span>
			send you unwanted emails
		</p>
		<div asp-validation-summary="All"></div>
		<form asp-action="Register" method="post">
			<div class="form-row">
				<input asp-for="Email" type="text" placeholder="Email" />
			</div>
			<div class="form-row">
				<input asp-for="Password" type="password" placeholder="password" />
			</div>
			<div asp-validation-for="Password"></div>
			<div class="form-row">
				<input asp-for="ConfirmPassword" type="password" placeholder="confirm password" />
			</div>
			<button type="submit">Register</button>
		</form>
	</div>