@{
	ViewData["Title"] = "Reset Password";
}
@model Certificate_Wiki.Models.LoginRegister.ResetPasswordModel
<link rel="stylesheet" href="~/css/pages/logreg.css" media="all" />

<div class="background"></div>

<div class="validators">
	<div asp-validation-summary="All"></div>
</div>

<div class="content">
	<div class="content-image">
		<h1>Remember your password</h1>
		<h1>And learn more...</h1>
		<img src="~/images/logreg/Component 6 .png"
			 alt="error loading image"
			 style="width: 100%;" />
	</div>
	<div class="content-form">
		<h1>Reset your password</h1>
		<h6>
			Anything that is broken can be fixed. All that you need to do is believe that you can fix it.
		</h6>
		<p>
			Enter your new password and confirm it!
		</p>
		<form asp-action="ResetPassword" method="post">
			<div class="form-row">
				<input asp-for="password" type="password" placeholder="password" />
			</div>
			<div class="form-row">
				<input asp-for="confirmPassword" type="password" placeholder="Confirm password" />
			</div>
			<input asp-for="token" type="hidden" />
			<input asp-for="email" type="hidden" />

			<button>Send email</button>
		</form>
		<a href="">Forgot password</a>
		<a href="register.html">Register new user</a>
	</div>
</div>