@{
	ViewData["Title"] = "Edit Profile";
}

<link rel="stylesheet" href="~/css/pages/Certificate.css" media="all" />

<div class="background"></div>
<div class="content">
	<div class="content-image">
		<img src="~/images/Certificate/Component 2 – 1.png" alt="" />
	</div>
	<div class="content-profile">
		<div class="profile-form">
			<form asp-action="Edit" method="post">

				<div class="form-row">
					<label>Certificate name</label>
					<input type="text" name="certificate" />
				</div>
				<div class="form-row">
					<label>Subject</label>
					<input type="text" name="lname" />
				</div>
				<div class="form-row">
					<label>Admissioner</label>
					<input type="text" name="occupation" />
				</div>
				<div class="form-row">
					<label>Website</label>
					<input type="url" name="website" />
				</div>
				<div class="form-row certificate">
					<label>How do you want to upload your certificate?</label>
					<div class="radio-buttons">
						<label>no change</label>
						<input type="radio" value="no change" name="certificate-type"/>
					</div>
					<div class="radio-buttons">
						<label>upload file</label>
						<input type="radio" value="upload" name="certificate-type"/>
						<div class="certificate-file">
							<input type="file" value="upload-file" />
						</div>
					</div>
					<div class="radio-buttons">
						<label>upload by image url</label>
						<input type="radio" value="url" name="certificate-type"/>
						<div class="certificate-file">
							<input type="url" value="upload-url" />
						</div>
					</div>
				</div>

				<div class="form-row">
					<button type="submit">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script src="~/js/certificate.js"></script>