@{
	ViewData["Title"] = "Edit Profile";
}
@model Certificates

<link rel="stylesheet" href="~/css/pages/Certificate.css" media="all" />

<div class="background"></div>
<div class="content">
	<div class="content-image">
		<img src="~/images/Certificate/Component 2 – 1.png" alt="" />
	</div>
	<div class="content-profile">
		<div class="profile-form">
			<h2>upload certificate</h2>
			<form asp-action="upload" method="post" enctype="multipart/form-data">
				<div asp-validation-summary="All"></div>

				<div class="form-row">
					<label>Certificate name</label>
					<input type="text" asp-for="CertificateName" />
				</div>
				<div class="form-row">
					<label>Subject</label>
					<input type="text" asp-for="Subject" />
				</div>
				<div class="form-row">
					<label>Admissioner</label>
					<input type="text" asp-for="Admissioner" />
				</div>
				<div class="form-row">
					<label>Description</label>
					<textarea type="text" asp-for="Description"></textarea>
				</div>
				<div class="form-row certificate">
					<label class="light-label">How do you want to upload your certificate?</label>
					<div class="radio-buttons">
						<div class="radio-button-label">

							<label>upload file</label>
							<input type="radio" value="upload" id="file" name="certificate-type" />
						</div>
						<div class="certificate-file file-upload">
							<input type="file" name="file" />
						</div>
					</div>
					<div class="radio-buttons">
						<div class="radio-button-label">

							<label>upload by image url</label>
							<input type="radio" value="url" name="certificate-type" id="url" />
						</div>
						<div class="certificate-file url-upload">
							<input type="url" asp-for="CertificateUrl" />
						</div>
					</div>
				</div>

				<div class="form-row">
					<button type="submit">Upload</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script src="~/js/Certificate.js"></script>