@{
	ViewData["Title"] = "User";
}
<link rel="stylesheet" href="~/css/pages/UserCertificates.css" media="all" />

<div class="background"></div>
<div class="content">
	<div class="profile">
		<img src="https://www.pngitem.com/pimgs/m/78-786293_1240-x-1240-0-avatar-profile-icon-png.png" alt="" />
		<h1>John doe</h1>
	</div>
	<div class="user-certificates">
		<table>
			<thead>
				<tr>
					<th>Certificate</th>
					<th>Description</th>
					<th>Subject</th>
					<th>Site</th>
					<th>Author</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<p>
							Mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
						</p>
					</td>
					<td>
						<p>
							Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.
						</p>
					</td>
					<td>
						<p>
							computer science
						</p>
					</td>
					<td>
						<p>
							LinkedinLearning
						</p>
					</td>
					<td>
						<p>
							Stian
						</p>
					</td>
					<td>
						<span class="certificate-view">
							<i class="fas fa-play-circle"></i>
						</span>
						<span class="certificate-edit">
							<i class="fas fa-trash-alt"></i>
						</span>
						<span class="certificate-delete">
							<i class="fas fa-edit"></i>
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<p>
							how to learn programming
						</p>
					</td>
					<td>
						<p>
							Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.
						</p>
					</td>
					<td>
						<p>
							computer science
						</p>
					</td>
					<td>
						<p>
							LinkedinLearning
						</p>
					</td>
					<td>
						<p>
							Stian
						</p>
					</td>
					<td>
						<span class="certificate-view">
							<i class="fas fa-play-circle"></i>
						</span>
						<span class="certificate-edit">
							<i class="fas fa-trash-alt"></i>
						</span>
						<span class="certificate-delete">
							<i class="fas fa-edit"></i>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js" integrity="sha256-+Q/z/qVOexByW1Wpv81lTLvntnZQVYppIL1lBdhtIq0=" crossorigin="anonymous"></script>
</div>