@{
	ViewData["Title"] = "About";
}

<link rel="stylesheet" href="~/css/pages/About.css" media="all" />
<div class="background"></div>
<div class="content">
	<div class="top">
		<div class="image">
			<img src="~/images/About/profilebilde 3.png" />
		</div>
		<div class="text">
			<h1>Certificate.Wiki</h1>
			<h2>By <a href="https://github.com/StanlyLife" target="_blank">Stian Håve</a> 
			</h2>
		</div>
	</div>
	<div class="bottom">
		<article class="description">
			<p>
				This is a remake of my first .NET Core application. My original intent was to create a full-stack
				CRUD authentication/Authorization application to first and foremost learn and develop my
				development skills. I have also been looking for a place to share all the certificates I have acquired through my learning journey. Which is why I created certificate.wiki!
			</p>
			<p>
				Certificate.wiki is an open source project and you can contribute to it if you want.
			</p>
			<p>
				Thanks to external contributor
				<a href="https://github.com/StanlyLife/Certificate-Wiki/graphs/contributors" target="_blank">Tobias Kjellstrøm/IceColors</a>
			</p>
		</article>
		<div class="links">
			<a href="https://github.com/StanlyLife" target="_blank">My Github</a>
			<a href="https://github.com/StanlyLife/Certificate-Wiki">This project's Github</a>
		</div>
	</div>
</div>