@{
	ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/pages/index.css" media="all" />
<div class="background"></div>
<div class="content">
	<!--Content 1-->
	<div class="content-child content-child-one">
		<article>
			<h1>
				Work hard, be
				<span>successful</span>
				& get the
				<span>opportunities</span>
			</h1>
			<h6>
				Upload your certificates with the ease and security of
				Certificate.Wiki
			</h6>
		</article>
		<div class="content-image">
			<img src="~/images/landing-page/Component5.png"
				 alt="error loading" />
		</div>
	</div>
	<!--content 1 END-->
	<!--content 2-->
	<div class="content-child content-child-two">
		<div class="content-image">
			<img src="~/images/landing-page/Component4.png"
				 alt="error loading" />
		</div>
		<article>
			<h1>display your skills.</h1>
			<p>
				by uploading your certificates you can display you skills and achievements to employers and the rest of the world. All profiles and certificates are searchable unless your profile is private!
			</p>
		</article>
	</div>
	<!--content 2 END-->
	<!--content 3-->
	<div class="content-child content-child-three">
		<article>
			<h1>Any certificate</h1>
			<p>
				Certificates comes in many shapes and forms. You may have a certificate from school, you may be a microsoft MVP or have finished the CCNA. Even if you have a small certificate from udemy, coursera or other learning platforms, this platform is for you!
			</p>
		</article>
		<div class="content-image">
			<img src="~/images/landing-page/Component3.png"
				 alt="error loading" />
		</div>
	</div>
	<!--content 3 END-->
	<!--content 4-->
	<div class="content-child content-child-four">
		<div class="content-image">
			<img src="~/images/landing-page/Component2.png"
				 alt="error loading" />
		</div>
		<article>
			<h1>How?</h1>
			<p>
				Create an account and favorite your best certificates to have them featured on your profile. You can also add a website, profile picture and a biography before you share your profile on your resume.
			</p>
		</article>
	</div>
	<!--content 4 END-->
	<!--content 5-->
	<div class="content-child content-child-five">
		<article>
			<h1>
				What counts as a certificate?</h1>
					<p>
						When you complete a course on certain websites, you will receive a certificate of completion, which you can share with your friends, relatives, co-workers and potential employers.
					</p>
		</article>
		<div class="content-image">
			<img src="~/images/landing-page/Component1.png"
				 alt="error loading" />
		</div>
	</div>
	<!--content 5 END-->