/* TODO */
/* Clean and organize*/

.content {
	width: 90vw;
	margin: auto;
}


.search-header {
	background: var(--color-first);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 5vh;
}

	.search-header form {
		display: flex;
		width: 50%;
		align-items: center;
		justify-content: center;
	}

		.search-header form input {
			flex: 3;
			margin: .25rem;
			padding: .5rem;
			border-radius: 8px;
			border: none;
		}

		.search-header form button {
			border-radius: 8px;
			color: white;
			transition: background .25s ease-out;
			cursor: pointer;
			background: var(--color-text);
			border: none;
			flex: 1;
			width: 25%;
			margin: .25rem;
			padding: .5rem;
			font-family: var(--font-header);
			font-weight: 600;
		}

			.search-header form button:hover {
				background: var(--color-light);
				color: var(--color-text);
			}

.search-left {
	flex: 1;
	padding: 2rem;
}

.search-right {
	flex: 2;
	font-family: var(--font-header);
	color: white;
	margin: .5rem;
	padding: .5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

	.search-right p {
		color: #666;
	}


table {
	width: 100%;
}

	table tr {
		display: flex;
		justify-content: space-between;
	}

	table th {
		flex: 1;
	}

	table td {
		overflow: hidden;
		flex: 1;
		max-height: 5vh;
	}

		table td:nth-child(n+3) {
			text-align: center;
		}

		table td:last-child {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		table td img {
			transition: opacity .25s ease-out;
		}

			table td img:hover {
				cursor: pointer;
				opacity: 50%;
			}

tbody tr {
	width: 95%;
	margin: 0 auto;
	padding: .5rem;
}

thead tr {
	height: 5vh;
	display: flex;
	justify-content: space-between;
	padding: 2px;
	align-items: center;
	width: 95%;
	margin: 0 auto;
}


thead {
	background: var(--color-text);
	color: snow;
	font-family: var(--font-header);
}

tbody {
	background: var(--color-light);
	font-family: var(--font-roboto);
	font-weight: 600;
	color: #666;
}

table td i {
	font-size: 1.25rem;
	transition: color .25s ease-out;
	color: var(--color-text);
	cursor: pointer;
}

	table td i:hover {
		color: white;
	}

.pages {
	font-size: 1.25rem;
	color: var(--color-first);
	text-align: center;
	padding: 1vh 0;
	font-family: var(--font-roboto);
	font-weight: 600;
}

	.pages a {
		margin: 0 .1rem;
		padding: 0 .5rem;
	}

		.pages a:hover {
			color: #333;
		}

	.pages i {
		padding: 0 1vw;
		transition: color .25s ease-out;
		cursor: pointer;
		color: var(--color-text);
	}


		.pages i:hover {
			color: var(--color-light);
		}

.current-page {
	cursor: default;
	color: var(--color-text);
	pointer-events: none;
	border-bottom: .2rem solid var(--color-light);
}

	.current-page:hover {
		color: inherit;
	}

.deactivate i, .deactivate {
	color: #999;
	cursor: default;
	pointer-events: none;
}



	.deactivate:hover {
		color: inherit;
	}

	.profile, .email {
		text-align: center;
	}