body {
}

.content {
	width: 90vw;
	margin: 0 auto;
}

.profile {
	margin: 5vh auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

	.profile img {
		max-height: 10vh;
		border-radius: 500px;
	}

	.profile h1 {
		padding: 1rem;
		font-family: var(--font-header);
	}


.user-certificates {
	margin: 5vh 0;
}

tr {
	display: flex;
	align-items: center;
	justify-content: center;
}

td {
	padding: .25rem;
	flex: 1;
	height: calc(5vh + .25rem);
	/*    overflow: hidden; */
	font-family: var(--font-roboto);
	font-weight: 600;
	color: #333;
	display: flex;
	width: calc(90vw / 6);
}

	td p {
		text-overflow: ellipsis;
		/*TODO*/
		/*Fix elipsis*/
		white-space: nowrap;
		width: inherit;
		flex: 1;
		overflow: hidden;
		max-width: inherit;
	}

thead {
	background: var(--color-first);
	font-family: var(--font-header);
	color: white;
}

th {
	padding: 1rem;
	flex: 1;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

tbody {
	background: var(--color-light);
}

	tbody td {
		flex: 1;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}



		tbody td:last-child a, tbody td:last-child button {
			transition: color .25s ease-out;
		}

		tbody td:last-child span:hover, td button:hover {
			color: white;
			cursor: pointer;
		}

/*Upload certificate button*/

.create-certificate a {
	background: transparent;
	font-family: var(--font-header);
	border: 2px solid var(--color-first);
	border-radius: 8px;
	padding: .5rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	margin: 0 auto;
	transition: color .25s ease-out, background .25s ease-out, border .25s ease-out;
}

	.create-certificate a:hover {
		color: white;
		background: var(--color-first);
		border: 2px solid var(--color-text);
	}

table {
	margin: 0 auto;
}

@media only screen and (max-width: 1150px) {
	table {
		width: 100%;
	}
}

.certificate-delete form button {
	background: transparent;
	border: none;
}

.certificate-delete form {
	padding: 0;
	margin: 0;
}

td span {
	flex: 1;
}

.certificate-star form {
	margin: 0;
	padding: 0;
}

.certificate-star button {
	border: none;
	background: none;
}

td button, td a {
	font-size: 1rem;
}

.favorited {
	color: #ffc32d;
}

	.favorited:hover {
		color: inherit;
	}

.star:hover {
	color: #ffc32d;
}

td:last-child, td:last-child button {
	color: #6666;
}

	td:last-child button:hover {
		color: white;
	}
