@{
	ViewData["Title"] = "Edit Profile";
}
@model Certificate_Wiki.Models.CertificateUser
<link rel="stylesheet" href="~/css/pages/ProfileEdit.css" media="all" />

<div class="background"></div>
<div class="content">
	<div class="content-image">
		<img src="~/images/profile/Component 1 – 1.png" alt="" />
	</div>
	<div class="content-profile">
		<div class="profile-image">
			<img src="https://www.pngitem.com/pimgs/m/78-786293_1240-x-1240-0-avatar-profile-icon-png.png" alt="error loading image" />
		</div>
		<div class="profile-form">
			<h2>@User.Identity.Name</h2>
			<div asp-validation-summary="All">
			</div>
			<form asp-action="Edit" method="post">

				<div class="form-row">
					<label>First Name</label>
					<input asp-for="FirstName" type="text"  />
				</div>
				<div class="form-row">
					<label>Last Name</label>
					<input asp-for="LastName" type="text"  />
				</div>
				<div class="form-row">
					<label>Occupation</label>
					<input asp-for="Occupation" type="text" name="occupation" />
				</div>
				<div class="form-row">
					<label>Website</label>
					<input asp-for="Website" type="url" name="website" />
				</div>
				<div class="form-row">
					<label>Country</label>
					<input asp-for="Country" type="text" name="Country" />
				</div>
				<div class="form-row">
					<label>Profile Description</label>
					<textarea asp-for="Description" type="text" name="description"></textarea>
				</div>
				<div class="form-row">
					<label>Private Profile</label>
					<input asp-for="isPrivate" type="checkbox" name="Private" />
				</div>

				<div class="form-row">
					<button type="submit">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>