@{
	ViewData["Title"] = "Profile";
}

<link rel="stylesheet" href="~/css/pages/viewprofile.css" media="all" />

<div class="background"></div>
<div class="content">
	<div class="header">
		<div class="header-image">
			<img src="https://www.pngitem.com/pimgs/m/78-786293_1240-x-1240-0-avatar-profile-icon-png.png" alt="error loading image" />
		</div>
		<div class="header-info">
			<div class="profile-info">
				<div class="info-pane-one">
					<h1>name</h1>
					<h2>surname</h2>
				</div>
				<div class="info-pane-two">
					<ul>
						<li>occupation</li>
						<li>website</li>
						<li>country</li>
					</ul>
				</div>
			</div>
			<hr />
			<div class="profile-description">
				<p>
					Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
				</p>
			</div>
		</div>
	</div>
	<!---->
	<table>
		<thead>
			<tr>
				<th>Certificate</th>
				<th>Description</th>
				<th>Subject</th>
				<th>Site</th>
				<th>Author</th>
				<th>View</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>how to learn programming</td>
				<td>
					Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.
				</td>
				<td>computer science</td>
				<td>LinkedinLearning</td>
				<td>Stian</td>
				<td>
					<img src="~/images/Search/Component 2 – 1.png" alt="Error loading image" />
				</td>
			</tr>
			<tr>
				<td>how to learn programming</td>
				<td>
					Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.
				</td>
				<td>computer science</td>
				<td>LinkedinLearning</td>
				<td>Stian</td>
				<td>
					<img src="~/images/Search/Component 2 – 1.png" alt="Error loading image" />
				</td>
			</tr>
		</tbody>
	</table>
</div>